<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.PICK_IMAGE_REQUEST" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookMatch"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Start with the main activity -->

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
        </activity> -->


        <activity
            android:name=".ui.main.collections.CreateCollectionActivity"
            android:label="create collection">
        </activity>

        <activity android:name=".ui.main.account.AccountEditActivity"
            android:label="edit account">
        </activity>

        <activity android:name=".ui.main.collections.AddBookToCollectionActivity"
            android:label="add book to collection">
        </activity>

        <activity
            android:name=".ui.main.account.AccountPreferencesActivity"
            android:label="edit preferences">
        </activity>

        <activity
            android:name=".ui.main.book_page.FullscreenImageActivity"
            android:label="fullscreen image">
        </activity>

        <activity
            android:name=".ui.main.reviews.AddReviewActivity"
            android:label="add review">
        </activity>

    </application>


</manifest>